/* Cygre regular */
@font-face {
  font-family: "Cygre";
  font-weight: 400;
  font-style: normal;
  src: local("Cygre Regular"), url("../fonts/Cygre-Regular.woff2") format("woff2"), url("../fonts/Cygre-Regular.woff") format("woff"), url("../fonts/Cygre-Regular.eot") format("eot");
  font-display: swap;
}
/* Cygre bold */
@font-face {
  font-family: "Cygre";
  font-weight: 700;
  font-style: normal;
  src: local("Cygre Bold"), url("../fonts/Cygre-Bold.woff2") format("woff2"), url("../fonts/Cygre-Bold.woff") format("woff"), url("../fonts/Cygre-Bold.eot") format("eot");
  font-display: swap;
}
* {
  font-family: "Cygre", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 36px;
  color: #000;
}
@media screen and (max-width: 1170px) {
  .title {
    font-size: clamp(26px, 3vw, 36px);
  }
}

.pagination {
  display: block;
  border-radius: 6px;
  width: 38px;
  height: 38px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  padding: 13px 11px;
}

.header {
  padding-top: 20px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1170px) {
  .header__inner {
    flex-direction: column;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.header__logo:hover {
  scale: 1.1;
}
@media screen and (max-width: 1170px) {
  .header__logo {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1170px) {
  .header__logo-img {
    width: clamp(30px, 6vw, 53px);
  }
}

.header__logo-title {
  margin-left: 20px;
  font-size: 25px;
  line-height: 1.19;
}
@media screen and (max-width: 1170px) {
  .header__logo-title {
    font-size: clamp(18px, 3vw, 25px);
  }
}

.header__searchbar {
  position: relative;
}

.header__searchbar-input {
  width: 267px;
  height: 26px;
  border-radius: 9px;
  padding: 6px 27px 5px 10px;
  font-size: 14px;
  transition: all 0.3s;
  background: #fafafa;
}
.header__searchbar-input::-moz-placeholder {
  font-size: 10px;
  color: #878787;
}
.header__searchbar-input::placeholder {
  font-size: 10px;
  color: #878787;
}
.header__searchbar-input:active, .header__searchbar-input:focus, .header__searchbar-input:hover {
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.25);
  background: #fff;
}
@media screen and (max-width: 1170px) {
  .header__searchbar-input {
    width: clamp(200px, 3vw, 267px);
  }
}

.header__searchbar-btn {
  width: 17px;
  height: 17px;
  background: url("../img/icons/header/search.svg");
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-item {
  margin-right: 53px;
  height: 53px;
  transform: translateY(35%);
}
.header__nav-item:last-child {
  margin: 0;
}

@media screen and (max-width: 1170px) {
  .header__nav-item--home {
    display: none;
  }
}

.header__nav-item--models {
  position: relative;
}
.header__nav-item--models:hover .header__nav-dropmenu {
  display: inline-block;
}
@media screen and (max-width: 1170px) {
  .header__nav-item--models {
    order: 2;
  }
}

@media screen and (max-width: 1170px) {
  .header__nav-item--vk {
    order: 1;
  }
}

@media screen and (max-width: 1170px) {
  .header__nav-item--tg {
    order: 3;
  }
}

.header__nav-link {
  display: block;
  position: relative;
  transition: all 0.3s;
}
.header__nav-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}
.header__nav-link:hover {
  scale: 1.1;
}
@media screen and (max-width: 1170px) {
  .header__nav-link {
    font-size: clamp(12px, 3vw, 16px);
  }
}

.header__nav-link--home::before {
  width: 13px;
  height: 13px;
  background: url("../img/icons/header/home.svg");
}

.header__nav-link--models::before {
  width: 11px;
  height: 11px;
  background: url("../img/icons/header/models.svg");
}
.header__nav-link--models::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  background: url("../img/icons/header/arrow-down.svg");
}

.header__nav-link--vk::before {
  width: 12px;
  height: 12px;
  background: url("../img/icons/header/vk.svg");
}

.header__nav-link--tg::before {
  width: 15px;
  height: 14px;
  left: -20px;
  background: url("../img/icons/header/tg.svg");
}

.header__nav-dropmenu {
  display: none;
  position: absolute;
  top: 22px;
  left: -42px;
  width: 185px;
  height: 257px;
  padding-top: 43px;
  padding-left: 22px;
  background: url("../img/drop-bg.png") no-repeat;
}

.header__nav-dropmenu_item {
  margin-bottom: 14px;
}
.header__nav-dropmenu_item:last-child {
  margin: 0;
}

.header__nav-dropmenu_link {
  display: inline-block;
  position: relative;
  transition: all 0.3s;
}
.header__nav-dropmenu_link::before {
  content: "";
  display: none;
  width: 1px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  background: #000;
  border-radius: 1px;
}
.header__nav-dropmenu_link::after {
  content: "";
  width: 5px;
  height: 9px;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  background: url("../img/icons/header/arrow-right.svg");
}
.header__nav-dropmenu_link:hover {
  scale: 1.05;
}
.header__nav-dropmenu_link:hover::before {
  display: block;
}

.news {
  padding: 57px 15px;
}

.news__title {
  margin-bottom: 38px;
}
@media screen and (max-width: 1170px) {
  .news__title {
    margin-bottom: 10px;
  }
}

.news__item {
  border-bottom: 1px solid #000;
  padding: 20px 0;
}

.news__item-link {
  display: block;
  font-size: 20px;
  margin-bottom: 22px;
}
.news__item-link:hover {
  text-decoration: underline;
  text-decoration-color: #a3a3a3;
}
@media screen and (max-width: 1170px) {
  .news__item-link {
    font-size: clamp(14px, 3vw, 20px);
  }
}

.news__item-date {
  font-size: 20px;
  color: #f00;
}
@media screen and (max-width: 1170px) {
  .news__item-date {
    font-size: clamp(14px, 3vw, 20px);
  }
}

.works {
  padding: 0 15px 73px;
}

.works__wrapper {
  position: relative;
}

.works__title {
  margin-bottom: 52px;
}

.work__item-img {
  box-shadow: 2px 4px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works__item {
  width: 294px;
  margin: 0 auto;
  margin-left: 9px;
}

.work__item-info {
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.work__item-author,
.work__item-model,
.work__item-scale {
  font-weight: 700;
  font-size: 10px;
}

.work__item-model,
.work__item-scale {
  margin-top: 7px;
}

.works__btn-prev {
  position: absolute;
  top: 36%;
  left: -20px;
}

.works__btn-next {
  position: absolute;
  top: 36%;
  right: -10px;
}

.footer {
  background: #000;
  color: #fff;
}

.footer__inner {
  display: grid;
  padding: 12px 0;
  align-items: baseline;
  grid-template-columns: repeat(2, 33.3%);
}
@media screen and (max-width: 550px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__left-item {
  font-weight: 700;
  font-size: 10px;
  margin-bottom: 5px;
}
@media screen and (max-width: 550px) {
  .footer__left-item {
    margin-bottom: 0px;
    text-align: center;
  }
}

.footer__center {
  margin-top: 10px;
}
@media screen and (max-width: 550px) {
  .footer__center {
    display: flex;
  }
}

.footer__center-title {
  margin-bottom: 5px;
}
@media screen and (max-width: 550px) {
  .footer__center-title {
    margin: 0 5px 0 0;
    text-align: left;
  }
}

.footer__center,
.footer__center-title,
.footer__center-page {
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  justify-self: center;
}/*# sourceMappingURL=main.css.map */