.footer {
  background: #000;
  color: #fff;
}
.footer__inner {
  display: grid;
  padding: 12px 0;
  align-items: baseline;
  grid-template-columns: repeat(2, 33.3%);

  @include media(550px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__left-item {
  font-weight: 700;
  font-size: 10px;
  margin-bottom: 5px;

  @include media(550px) {
    margin-bottom: 0px;
    text-align: center;
  }
}
.footer__center {
  margin-top: 10px;

  @include media(550px) {
    display: flex;
  }
}
.footer__center-title {
  margin-bottom: 5px;

  @include media(550px) {
    margin: 0 5px 0 0;
    text-align: left;
  }
}
.footer__center,
.footer__center-title,
.footer__center-page {
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  justify-self: center;
}
