.news {
  padding: 57px 0;
}
.news__title {
  margin-bottom: 38px;
}
.news__item {
  border-bottom: 1px solid #000;
  padding: 20px 0;
}
.news__item-link {
  display: block;
  font-size: 20px;
  margin-bottom: 22px;

  &:hover {
    text-decoration: underline;
    text-decoration-color: #a3a3a3;
  }
}
.news__item-date {
  font-size: 20px;
  color: #f00;
}
