.works {
  padding: 0 15px 73px;
}

.works__wrapper {
  position: relative;
}

.works__title {
  margin-bottom: 52px;
}

.work__item-img {
  box-shadow: 2px 4px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  width: 100%;
  object-fit: cover;
}

.works__item {
  width: 294px;
  margin: 0 auto;
  margin-left: 9px;
}

.work__item-info {
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.work__item-author,
.work__item-model,
.work__item-scale {
  font-weight: 700;
  font-size: 10px;
}

.work__item-model,
.work__item-scale {
  margin-top: 7px;
}

.works__btn-prev {
  position: absolute;
  top: 36%;
  left: -20px;
}
.works__btn-next {
  position: absolute;
  top: 36%;
  right: -10px;
}
